body{
    background-image: url("/background.jpg");
    background-size: cover;
}
#gamePageBody{
background-image: url("/");
}
#storyandRulesDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
background-image: url("/pageMain-removebg-preview.png");
/* background-repeat: no-repeat; */
background-size: cover;
width: 700px;
height: 800px;
opacity: 1;
}
#mainContainer{
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-content: center;
text-align: center;
}
#rules{
padding: 70px;
text-align: center;
}
#elements{
width: 350px;
height: 300px;
margin-bottom: 300px;
}
#middleMainDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#dragonMainImg{
    width: 300px;
    height: auto;
}
#rabbitMainImg{
    width: 200px;
    height: auto;
}