body{
    background-image: url("/background.jpg");
    background-size: cover;
}

#storyandRulesDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
background-image: url("/pageMain-removebg-preview.png");
background-repeat: no-repeat;
background-size: cover;
width: 700px;
height: 800px;
opacity: 1;
}
#mainContainer{
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-content: center;
text-align: center;
}
#rules{
padding: 70px;
text-align: center;
}
#elements{
width: 350px;
height: 300px;
margin-bottom: 300px;
}
#middleMainDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#dragonMainImg{
    width: 300px;
    height: auto;
}
#rabbitMainImg{
    width: 200px;
    height: auto;
}

/* Styles for Game page */
#gamePageBody{
background-image: url("/background.png");
}

.elementsImg{
    border-radius: 50%;
    width:100px;
    height: 100px;
    margin-left:135px;
    margin-top: 40px;
}
#elementsUser{
    display: grid;
    grid-template-columns: 85px 85px;
    grid-template-rows: 90px 90px;
    background-image: url("/game/elementsframe.png");
    background-size: 100%;
    width: 400px;
    height: 300px;
    border: solid 5px green;
}
#userScoreDiv{
    border: solid 5px red;
}
#elementsDragon{
display: grid;
grid-template-columns: 85px 85px;
grid-template-rows: 90px 90px;
background-image: url("/game/elementsframe.png");
background-size: 100%;
width: 400px;
height: 300px;
border: solid 5px green;
}